/* Styles pour la barre de navigation */
.gpt3_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
  }
  
  /* Styles pour les liens de la barre de navigation */
  .gpt3_navbar-links {
    display: flex;
    align-items: center;
  }
  /* Styles for the menu links */
.gpt3_navbar-links_container{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
  }
  
  /* Styles pour le logo de la barre de navigation */
  .gpt3_navbar-links_logo {
    margin-right: 2rem;
  }
  
  /* Styles pour l'image du logo de la barre de navigation */
  .gpt3_navbar-links_logo img {
    width: 62px;
    height: 16px;
  }
  
  /* Styles pour le conteneur des liens de la barre de navigation */
  .gpt3_navbar-links_container {
    display: flex;
    flex-direction: row; /* Ajout de la direction de la ligne */
    align-items: center; /* Alignement des éléments au centre */
  }
  
  /* Styles pour les éléments du menu de la barre de navigation */
  .gpt3_navbar-links_container a {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
  }
  
  /* Styles pour la section de connexion de la barre de navigation */
  .gpt3_navbar-sign {
    display: flex;
    align-items: center;
  }
  
  /* Styles pour les paragraphes de la barre de navigation */
  .gpt3_navbar-sign p,
  .gpt3_navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
  }
  
  /* Styles pour les boutons de la barre de navigation */
  .gpt3_navbar-sign button,
  .gpt3_navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 24.59px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  
  /* Styles pour le menu déroulant */
  .gpt3_navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
  }
  
  /* Styles pour l'icône du menu déroulant */
  .gpt3_navbar-menu svg {
    cursor: pointer;
  }
  
  /* Styles pour le conteneur du menu déroulant */
  .gpt3_navbar-menu_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 2);
  }
  
  /* Styles pour les paragraphes du menu déroulant */
  .gpt3_navbar-menu_container p {
    margin: 1rem 0;
  }
  
  /* Styles pour le lien de connexion dans le menu déroulant */
  .gpt3_navbar-menu_container_links-sign {
    display: none;
  }
  
  /* Media queries pour la réactivité */
  @media screen and (max-width: 1050px) {
    /* Masque le conteneur des liens sur les petits écrans */
    .gpt3_navbar-links_container {
        display: none;
    }
  
    /* Affiche l'icône du menu */
    .gpt3_navbar-menu {
        display: flex;
    }
  
    /* Ajoutez display pour le dropdown menu */
    .gpt3_navbar-menu_container.active {
        display: block;
    }
  }

  /* Style for the button when the menu is toggled */
.gpt3_navbar-menu_container_links-sign button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 24.59px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}

  
  /* Media queries pour la réactivité */
  @media screen and (max-width:700px) {
    /* Ajuste le rembourrage pour les petits écrans */
    .gpt3_navbar {
        padding: 2rem 4rem;
    }
  }
  
  /* Media queries pour la réactivité */
  @media screen and (max-width:550px) {
    /* Ajuste le rembourrage pour les écrans encore plus petits */
    .gpt3_navbar {
        padding: 2rem;
    }
  
    /* Masque la section de connexion sur les petits écrans */
    .gpt3_navbar-sign {
        display: none;
    }
  
    /* Ajuste la position du conteneur de menu */
    .gpt3_navbar-menu_container {
        top: 20px;
    }
  
    /* Affiche le lien de connexion */
    .gpt3_navbar-menu_container_links-sign {
        display: block;
    }
  }
  